"""
<q-toolbar elevated="" class="bg-primary text-white">
    <q-btn color="primary" icon="menu">
        <q-menu>
            <q-list id="ih2l">
                <q-item clickable="" v-close-popup="" v-on:click="command='persist'" v-if="activetxn">
                    <q-item-section>Persist changes</q-item-section>
                </q-item>
                <q-item clickable="" v-close-popup="" v-on:click="command='create contract'" v-if="!activetxn">
                    <q-item-section>Create a new contract <q-input label="valid from" v-model="ref_time"></q-input>
                        </q-input>
                    </q-item-section>
                </q-item>
                <q-item clickable="" v-close-popup="" v-on:click="command='push'" v-if="activetxn">
                    <q-item-section>Push changes</q-item-section>
                </q-item>
                <q-item clickable="" v-close-popup="" v-on:click="command='pop'" v-if="activetxn">
                    <q-item-section>Pop changes</q-item-section>
                </q-item>
                <q-item clickable="" v-close-popup="" v-on:click="command='rollback'" v-if="activetxn">
                    <q-item-section>Rollback transaction</q-item-section>
                </q-item>
                <q-item clickable="" v-close-popup="" v-on:click="command='commit'" v-if="activetxn">
                    <q-item-section>Commit transaction</q-item-section>
                </q-item>
                <q-item tag="a" href="/PartnerSection" clickable="" v-close-popup="">
                    <q-item-section>Partners</q-item-section>
                </q-item>
            </q-list>
        </q-menu>
    </q-btn>
    <q-toolbar-title>
        <h1>Genie built Life Insurance Contract Management Prototype</h1>
    </q-toolbar-title>
</q-toolbar>
"""